In [29]:
import pandas as pd
import numpy as np
from sklearn import svm
SVM = svm.SVC()
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import Ridge
from datetime import datetime

In [2]:
# Load the dataset
ww = pd.read_csv('C:/Users/Uche Buzz/Desktop/School stuff/Final Project/Datasets/weatherdata.csv')

In [3]:
ww.tail(10)

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
8833,"Wolverhampton, England",2024-04-07,58.3,48.2,52.7,58.3,41.7,51.2,45.2,75.9,...,8.9,7.0,NaN,2024-04-07T06:27:50,2024-04-07T19:54:19,0.95,"Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,rain,"03414099999,03529099999,03330099999,0353509999..."
8834,"Wolverhampton, England",2024-04-08,57.4,50.2,53.3,57.4,50.2,53.3,47.7,82.0,...,7.9,4.0,NaN,2024-04-08T06:25:32,2024-04-08T19:56:04,0.00,"Rain, Overcast",Cloudy skies throughout the day with rain.,rain,"03414099999,03529099999,03330099999,0353509999..."
8835,"Wolverhampton, England",2024-04-09,50.7,42.7,46.5,50.7,35.6,41.5,40.7,80.9,...,4.0,2.0,NaN,2024-04-09T06:23:15,2024-04-09T19:57:49,0.02,"Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,rain,"03414099999,03529099999,03330099999,0353509999..."
8836,"Wolverhampton, England",2024-04-10,55.6,39.1,47.8,55.6,35.4,45.2,44.5,88.5,...,4.8,2.0,NaN,2024-04-10T06:20:58,2024-04-10T19:59:34,0.06,"Rain, Partially cloudy",Partly cloudy throughout the day with rain in ...,rain,"03414099999,03529099999,03330099999,0353509999..."
8837,"Wolverhampton, England",2024-04-11,63.9,52.7,57.8,63.9,52.7,57.8,52.6,83.4,...,15.1,8.0,NaN,2024-04-11T06:18:41,2024-04-11T20:01:20,0.09,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"03414099999,03529099999,03520099999,0333009999..."
8838,"Wolverhampton, England",2024-04-12,63.8,49.0,56.0,63.8,44.6,55.5,47.2,73.4,...,10.7,4.0,NaN,2024-04-12T06:16:25,2024-04-12T20:03:05,0.12,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"03414099999,03529099999,03330099999,0353509999..."
8839,"Wolverhampton, England",2024-04-13,59.0,47.5,53.0,59.0,44.3,52.3,46.9,80.0,...,10.8,6.0,NaN,2024-04-13T06:14:10,2024-04-13T20:04:50,0.15,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"03414099999,03529099999,03520099999,0333009999..."
8840,"Wolverhampton, England",2024-04-14,54.2,40.4,48.0,54.2,37.2,45.8,37.8,68.7,...,14.1,8.0,NaN,2024-04-14T06:11:56,2024-04-14T20:06:35,0.19,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"03414099999,03529099999,03520099999,0333009999..."
8841,"Wolverhampton, England",2024-04-15,48.8,44.3,46.2,42.1,37.1,39.4,38.3,74.4,...,14.1,7.0,NaN,2024-04-15T06:09:42,2024-04-15T20:08:21,0.25,"Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,rain,"03414099999,03529099999,03520099999,0333009999..."
8842,"Wolverhampton, England",2024-04-16,53.0,40.8,47.1,53.0,37.0,43.2,39.5,75.1,...,12.0,10.0,NaN,2024-04-16T06:07:29,2024-04-16T20:10:06,0.25,"Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,rain,"03414099999,03529099999,03520099999,0333009999..."

In [4]:
#convert to celcius
def F_to_c(f):
    return   (f - 32)* 0.55

In [5]:
ww['tempmax'] = ww['tempmax'].apply(F_to_c)
ww['tempmin'] = ww['tempmin'].apply(F_to_c)
ww['feelslike'] = ww['feelslike'].apply(F_to_c)
ww['feelslikemin'] = ww['feelslikemin'].apply(F_to_c)
ww['feelslikemax'] = ww['feelslikemax'].apply(F_to_c)

In [6]:
ww.apply(pd.isnull).sum()

name                   0
datetime               0
tempmax                0
tempmin                0
temp                   0
feelslikemax           0
feelslikemin           0
feelslike              0
dew                    0
humidity               0
precip                 0
precipprob             0
precipcover            0
preciptype          1898
snow                 366
snowdepth            366
windgust            4491
windspeed              0
winddir                0
sealevelpressure       0
cloudcover             0
visibility             0
solarradiation      3623
solarenergy         3623
uvindex             3623
severerisk          8843
sunrise                0
sunset                 0
moonphase              0
conditions             0
description            0
icon                   0
stations               0
dtype: int64

In [7]:
ww.dropna(axis=1, inplace=True)

In [8]:
ww.apply(pd.isnull).sum()

name                0
datetime            0
tempmax             0
tempmin             0
temp                0
feelslikemax        0
feelslikemin        0
feelslike           0
dew                 0
humidity            0
precip              0
precipprob          0
precipcover         0
windspeed           0
winddir             0
sealevelpressure    0
cloudcover          0
visibility          0
sunrise             0
sunset              0
moonphase           0
conditions          0
description         0
icon                0
stations            0
dtype: int64

In [9]:
#cw = ww[['tempmax','tempmin','temp','precip','datetime']].copy()
cw = ww[['tempmax','tempmin','temp','dew', 'feelslike','feelslikemin','feelslikemax','precip','datetime']].copy()
#cw = ww[['tempmax','tempmin','temp','precip','datetime']].copy()
#cw = ww[['tempmax','tempmin','temp','precip','datetime']].copy()

In [10]:
cw.head()

,tempmax,tempmin,temp,dew,feelslike,feelslikemin,feelslikemax,precip,datetime
0,8.030,0.880,40.7,39.4,4.290,0.880,6.875,0.052,2000-01-01
1,10.340,4.015,44.3,41.2,4.840,1.650,10.340,0.000,2000-01-02
2,10.395,3.575,45.9,42.5,5.720,1.210,10.395,0.071,2000-01-03
3,5.720,1.155,37.4,34.3,-0.220,-2.475,2.145,0.037,2000-01-04
4,11.055,1.705,43.5,39.1,3.245,-1.925,11.055,0.011,2000-01-05

In [11]:
cw['datetime'] = pd.to_datetime(cw['datetime'])
cw.set_index('datetime', inplace=True)

In [12]:
cw

,tempmax,tempmin,temp,dew,feelslike,feelslikemin,feelslikemax,precip
datetime,,,,,,,,
2000-01-01,8.030,0.880,40.7,39.4,4.290,0.880,6.875,0.052
2000-01-02,10.340,4.015,44.3,41.2,4.840,1.650,10.340,0.000
2000-01-03,10.395,3.575,45.9,42.5,5.720,1.210,10.395,0.071
2000-01-04,5.720,1.155,37.4,34.3,-0.220,-2.475,2.145,0.037
2000-01-05,11.055,1.705,43.5,39.1,3.245,-1.925,11.055,0.011
...,...,...,...,...,...,...,...,...
2024-04-12,17.490,9.350,56.0,47.2,12.925,6.930,17.490,0.000
2024-04-13,14.850,8.525,53.0,46.9,11.165,6.765,14.850,0.004
2024-04-14,12.210,4.620,48.0,37.8,7.590,2.860,12.210,0.000
2024-04-15,9.240,6.765,46.2,38.3,4.070,2.805,5.555,0.299
2024-04-16,11.550,4.840,47.1,39.5,6.160,2.750,11.550,0.088

In [13]:

cw['month'] = cw.index.month
cw['day'] = cw.index.day
cw['year'] = cw.index.year

In [14]:
cw.head()

,tempmax,tempmin,temp,dew,feelslike,feelslikemin,feelslikemax,precip,month,day,year
datetime,,,,,,,,,,,
2000-01-01,8.030,0.880,40.7,39.4,4.290,0.880,6.875,0.052,1,1,2000
2000-01-02,10.340,4.015,44.3,41.2,4.840,1.650,10.340,0.000,1,2,2000
2000-01-03,10.395,3.575,45.9,42.5,5.720,1.210,10.395,0.071,1,3,2000
2000-01-04,5.720,1.155,37.4,34.3,-0.220,-2.475,2.145,0.037,1,4,2000
2000-01-05,11.055,1.705,43.5,39.1,3.245,-1.925,11.055,0.011,1,5,2000

In [15]:
cw.dtypes

tempmax         float64
tempmin         float64
temp            float64
dew             float64
feelslike       float64
feelslikemin    float64
feelslikemax    float64
precip          float64
month             int32
day               int32
year              int32
dtype: object

In [16]:
#Further Preprocessing
cw['temp__max'] = cw['temp'].rolling(30).mean()

In [17]:
cw = cw.iloc[30:,:].copy()

In [18]:
# Preprocess the data
X = cw.drop('temp', axis=1)  # Features
y = cw['temp']  # Target variable

In [19]:
X

,tempmax,tempmin,dew,feelslike,feelslikemin,feelslikemax,precip,month,day,year,temp__max
datetime,,,,,,,,,,,
2000-01-31,11.605,9.075,45.3,9.845,6.325,11.605,0.041,1,31,2000,40.950000
2000-02-01,10.285,7.590,43.7,6.765,4.400,10.285,0.036,2,1,2000,41.083333
2000-02-02,8.745,3.135,36.9,3.740,0.605,6.050,0.070,2,2,2000,41.016667
2000-02-03,8.085,4.840,39.0,4.125,1.925,5.665,0.019,2,3,2000,41.243333
2000-02-04,10.945,8.140,46.0,7.315,5.115,10.945,0.019,2,4,2000,41.430000
...,...,...,...,...,...,...,...,...,...,...,...
2024-04-12,17.490,9.350,47.2,12.925,6.930,17.490,0.000,4,12,2024,49.506667
2024-04-13,14.850,8.525,46.9,11.165,6.765,14.850,0.004,4,13,2024,49.520000
2024-04-14,12.210,4.620,37.8,7.590,2.860,12.210,0.000,4,14,2024,49.416667
2024-04-15,9.240,6.765,38.3,4.070,2.805,5.555,0.299,4,15,2024,49.436667
2024-04-16,11.550,4.840,39.5,6.160,2.750,11.550,0.088,4,16,2024,49.260000

In [20]:
X.isnull().sum()

tempmax         0
tempmin         0
dew             0
feelslike       0
feelslikemin    0
feelslikemax    0
precip          0
month           0
day             0
year            0
temp__max       0
dtype: int64

In [21]:
X.dropna(axis = 1, inplace =True)

In [22]:
# Optionally, scale the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [23]:
X_train = cw.loc[:'2020-12-31']
y_train = cw.loc[:'2020-12-31', 'temp']

X_test = cw.loc['2021-01-01':]
y_test = cw.loc['2021-01-01':, 'temp']

In [25]:
# Linear Regression
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)
y_pred_linear = linear_model.predict(X_test)
mse_linear = mean_squared_error(y_test, y_pred_linear)
r2_linear = r2_score(y_test, y_pred_linear)
print(f'Linear Regression - MSE: {mse_linear}, R^2: {r2_linear}')
#print(f'Accuracy: {round(conf_accuracy,2)}')

Linear Regression - MSE: 2.9790327961557546e-29, R^2: 1.0

In [26]:
# Decision Tree
tree_model = DecisionTreeRegressor(random_state=42)
tree_model.fit(X_train, y_train)
y_pred_tree = tree_model.predict(X_test)
mse_tree = mean_squared_error(y_test, y_pred_tree)
r2_tree = r2_score(y_test, y_pred_tree)
print(f'Decision Tree - MSE: {mse_tree}, R^2: {r2_tree}')

Decision Tree - MSE: 0.03308652246256238, R^2: 0.9996415041639783

In [27]:
# Random Forest
forest_model = RandomForestRegressor(random_state=42, n_estimators=100)
forest_model.fit(X_train, y_train)
y_pred_forest = forest_model.predict(X_test)
mse_forest = mean_squared_error(y_test, y_pred_forest)
r2_forest = r2_score(y_test, y_pred_forest)
print(f'Random Forest - MSE: {mse_forest}, R^2: {r2_forest}')

Random Forest - MSE: 0.03504928202995059, R^2: 0.9996202374644388

In [28]:

# Support Vector Regression (SVR)
svr_model = SVR(kernel='rbf')
svr_model.fit(X_train, y_train)
y_pred_svr = svr_model.predict(X_test)
mse_svr = mean_squared_error(y_test, y_pred_svr)
r2_svr = r2_score(y_test, y_pred_svr)
print(f'SVR - MSE: {mse_svr}, R^2: {r2_svr}')

SVR - MSE: 69.18960901173027, R^2: 0.250323549271924

NameError: name 'X_train_scaled' is not defined